.about > .container {
  padding: 0;
  position: relative;

  @include vp-1199 {
    padding: 0 6% 5.6% 0;
  }

  @include vp-767 {
    padding: 120% 5% 0 0;
  }
}

.about__title {
  margin: 0 0 4.9vw;
}

.about__pic,
.about__decor {
  position: absolute;
  z-index: -2;
  top: 0;
  height: auto;
}

.about__pic {
  top: 1vw;
  width: 56%;

  @include vp-1199 {
    width: 62.9vw;
  }

  @include vp-767 {
    width: 120%;
  }
}

.about__decor {
  @include vp-1199 {
    display: none;
  }
}

.about__info {
  display: flex;
  flex-direction: column;
  padding: 3.8% 8.3% 0 51%;

  @include vp-1199 {
    padding: 0.7% 0 0 55.2%;
  }

  @include vp-767 {
    padding: 0 5%;
  }
}

.about__names {
  font-size: 1.46vw;
  line-height: 1;
  margin: 0 auto 1vw 0;

  @include vp-1199 {
    font-size: 2.35vw;
    margin: 0 auto 1.7vw 0;
  }

  @include vp-767 {
    font-size: 5.65vw;
  }
}

.about__text {
  margin: 0 0 2.1vw;
  line-height: 1.57;
  font-size: 0.98vw;
  width: 95%;
  letter-spacing: -0.2px;

  @include vp-1199 {
    font-size: 1.83vw;
    margin: 0 0 3.9vw;
    letter-spacing: -0.33px;
    width: 100%;
  }

  @include vp-767 {
    font-size: 4.39vw;
  }
}

.about__text:last-of-type {
  margin-bottom: 0;
  width: 100%;
}
