.action {
  outline: none;
  transition: color $trans-default;

  @include hover-focus {
    color: $color-resolution-blue;
  }

  @include active {
    color: $color-navy-blue;
  }

  @include disabled {
    opacity: 0.15;
    pointer-events: none;
  }
}
