.buttons {
  display: flex;
  gap: 0 4px;
}

.button {
  position: relative;
  display: block;
  width: 37px;
  height: 35px;
  color: $color-default-white;
  background-color: $color-navy-blue;
  border: 1px solid $color-transparent;
  outline: none;
  cursor: pointer;
  transition: all $trans-default;

  @include hover-focus {
    color: $color-resolution-blue;
    background-color: $color-default-white;
    border-color: $color-resolution-blue;
  }

  @include active {
    color: $color-default-white;
    background-color: $color-resolution-blue;
  }

  &:disabled {
    color: $color-default-white;
    background-color: rgba($color-navy-blue, 0.2);
    pointer-events: none;
  }
}

.button svg {
  position: absolute;
  margin: auto;
  inset: 0;
}

.button.is-prev svg {
  rotate: 180deg;
}
