.contacts {
  position: relative;

  & > .container {
    padding: 6% calc(120/1440*100%) calc(62/1440*100%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;

    @include vp-1199 {
      grid-template-columns: 1fr;
      padding: 4.8% 6% 5.6%;
    }

    @include vp-767 {
      padding: 14% 5% calc(62/320*100%);
    }
  }
}

.contacts__info {
  font-style: normal;
}

.contacts__title {
  @include vp-1199 {
    grid-row: 1/2;
  }
}

.contacts__text {
  width: 86%;

  @include vp-1199 {
    grid-row: 2/3;
  }

  @include vp-767 {
    width: 100%;
    font-size: 4.39vw;
  }
}

.contacts__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 2vw;

  @include vp-1199 {
    display: inline-flex;
    grid-row: 3/4;
    font-size: 1.83vw;
    gap: 1vw;
    width: 25%;
  }

  @include vp-767 {
    width: 80%;
    display: flex;
    gap: 3vw;
    font-size: 4.39vw;
  }

  &:last-of-type {
    @include vp-1199 {
      width: 45%;
    }

    @include vp-767 {
      width: 100%;
    }

    p {
      width: 58%;
    }
  }

  p {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  b {
    font-weight: 600;
  }
}

.contacts__location {
  width: 80%;
  height: 26vw;
  align-self: flex-end;

  @include vp-1199 {
    width: 100%;
    height: 38vw;
  }
}
