.contacts {
  position: relative;

  & > .container {
    padding: 6% calc(120/1440*100%) 5.1%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;

    @include vp-1199 {
      grid-template-columns: 1fr;
      padding: 12.4% 6% 5.6%;
    }

    @include vp-767 {
      padding: 20% 5% 12.4%;
    }
  }
}

.contacts__info {
  font-style: normal;
}

.contacts__title {
  margin-bottom: 4%;

  @include vp-1199 {
    grid-row: 1/2;
    margin-bottom: 2.8%;
  }
}

.contacts__text {
  width: 86%;
  letter-spacing: -0.1px;
  margin: 0 0 7.3%;

  @include vp-1199 {
    grid-row: 2/3;
    margin: 0 0 5.3%;
  }

  @include vp-767 {
    width: 100%;
    font-size: 4.39vw;
    letter-spacing: -0.13px;
    margin: 0 0 9.3%;
  }
}

.contacts__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4.6%;
  flex-direction: row;
  align-items: center;
  font-size: 1.3vw;
  gap: 2vw;

  @include vp-1199 {
    display: inline-flex;
    grid-row: 3/4;
    font-size: 1.83vw;
    gap: 1.4vw;
    width: 27%;
  }

  @include vp-767 {
    width: 80%;
    display: flex;
    gap: 3vw;
    font-size: 4.39vw;
    margin-bottom: 8.6%;
  }

  &:last-of-type {
    @include vp-1199 {
      width: 44.5%;
      gap: 0.6vw;
    }

    @include vp-767 {
      width: 100%;
      gap: 3vw;
    }

    p {
      width: 58%;

      @include vp-1199 {
        width: 86%;
      }
    }

    span {
      @include vp-767 {
        width: 67%;
      }
    }

    svg {
      @include vp-1199 {
        margin-left: 5%;
      }

      @include vp-767 {
        margin: 1% 0 0;
      }
    }
  }

  p {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
  }

  b {
    font-weight: 600;
  }

  svg {
    scale: 1.25;

    @include vp-1199 {
      scale: 1.1;
      align-self: start;
      margin-top: 2%;
    }

    @include vp-767 {
      margin-top: 1%;
      scale: 1;
    }
  }

  span,
  a {
    font-size: 1.12vw;
    line-height: 1.8;
    letter-spacing: -0.06px;

    @include vp-1199 {
      font-size: 1.8vw;
    }

    @include vp-767 {
      font-size: 4.3vw;
    }
  }
}

.contacts__location {
  width: 100%;
  height: 22.6vw;
  margin-bottom: 2vw;
  align-self: flex-end;

  @include vp-1199 {
    width: 100%;
    height: 45vw;
  }

  @include vp-767 {
    height: 100vw;
  }

  img {
    height: 100%;
    width: 100%;
  }
}
