.hero {
  overflow: hidden;
  min-width: 320px;
  width: 100%;
  color: $color-default-white;
}

.hero__container {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

.hero__wrapper {
  position: relative;
  background-color: $color-navy-blue;
}

.hero__title {
  margin: 0 0 1.6vw;
  padding: 0;
  width: 100%;
  text-align: start;
  font-weight: 600;
  font-size: 5.45vw;
  line-height: 1;
  z-index: 2;

  @include vp-1199 {
    margin: 0 auto 40px;
  }

  @include vp-767 {
    margin: 0 auto 41px;
    width: 290px;
    font-size: 32px;
    line-height: 38px;
  }
}

.hero__item {
  margin: 0 auto;
  max-width: 100%;
  padding: 12.7vw 8.3vw 4vw;
  background-image: url("../img/peaks-desktop.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/peaks-desktop@2x.jpg");
    background-size: 100% 100%;
  }
}

.hero__view {
  color: $color-default-white;
  background-color: $color-navy-blue;
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 18.2%;
  margin: 0 0 10vw;
}

.hero__desc {
  font-size: 1.1vw;
  font-weight: 400;
  z-index: 2;
  position: relative;

  p {
    margin: 0;
    font-weight: 400;
    width: 36%;
    letter-spacing: 0.03em;
    margin-bottom: 2.2vw;

    @include vp-767 {
      text-align: center;
      grid-column: span 2;
      font-size: 16px;
      line-height: 23px;
    }
  }
}

.hero__details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 0.7vw;

  p {
    flex: 0 0 13%;
    font-size: 0.8vw;
    padding: 1vw 0 1vw 2.5vw;
    border: 1px solid $color-default-white;
    position: relative;
  }

  p::before {
    content: url("../img/svg/moon.svg");
    position: absolute;
    width: 50%;
    top: 50%;
    left: 1.3vw;
    color: $color-default-white;
    transform: translateY(-50%);
  }

  .hero__info--level {
    flex: 0 0 15%;
  }

  .hero__info--level::before {
    content: url("../img/svg/level.svg");
  }
}

.hero__video {
  position: absolute;
  top: 21vw;
  right: 8.5vw;
  z-index: 0;
  padding-bottom: 62.63%;
  height: 0;
  overflow: hidden;

  @include vp-1199 {
    position: relative;
    top: 0;
    grid-column: 1/2;
    margin-top: 200px;
    width: 49%;
    padding-bottom: 30.78%;
    margin-left: -30px;
    justify-self: center;
  }

  @include vp-767 {
    width: 100%;
    margin: 0;
    margin-top: 40px;
    padding-bottom: 52.19%;
  }

  iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
  }
}

.hero__link {
  position: relative;
}

.hero__button {
  position: absolute;
  padding: 2vw;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid $color-default-white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
