.icon-link {
  position: relative;
  border: 1px solid rgba($color-default-elephant, 0.3);
  outline: none;
  transition: all $trans-default;

  svg {
    position: absolute;
    margin: auto;
    inset: 0;
  }

  @include hover-focus {
    border-color: $color-default-elephant;
  }

  @include active {
    color: $color-default-white;
    background-color: $color-navy-blue;
    border-color: $color-navy-blue;
  }

  @include disabled {
    color: rgba($color-default-elephant, 0.3);
    border-color: rgba($color-default-elephant, 0.3);
    pointer-events: none;
  }
}
