.main-footer {
  .container {
    width: 100%;
    position: relative;
    padding: 1.98% calc(120/1440*100%);
    box-sizing: border-box;
    display: grid;
    justify-content: space-between;
    align-content: center;
    grid-template-columns: 17.08% 54.92% 15%;
    border-top: 1px solid rgba(45, 56, 63, 0.2);

    @include vp-1199 {
      padding: 7.4% 5.86%;
      grid-template-columns: 17.4% 80.2%;
      align-content: start;
      font-size: 2.1vw;
    }

    @include vp-767 {
      padding: 4.6% 3.9%;
      justify-content: start;
      grid-template-columns: 1fr;
      display: block;
      font-size: 4.3vw;
    }
  }

  &__logo {
    &:hover,
    &:focus-visible,
    &:focus {
      opacity: 0.7;
    }

    &:active {
      opacity: 1;
    }

    &:disabled {
      opacity: 0.1;
    }

    @include vp-1199 {
      justify-self: end;
    }

    @include vp-767 {
      grid-row: 1/2;
      justify-self: start;
      margin-left: 5px;
    }

    svg {
      width: 100%;

      @include vp-1199 {
        height: auto;
        width: 15.5vw;
      }

      @include vp-767 {
        width: 36vw;
      }
    }
  }

  &__logo,
  &__info,
  &__phone a {
    &:hover,
    &:focus-visible,
    &:focus {
      color: #1c3374;
      outline: none;
      text-decoration: none;
    }

    &:active {
      color: $color-navy-blue;
    }

    &:disabled {
      color: $color-navy-blue;
      opacity: 0.1;
    }
  }

  .page-nav {
    margin: 0;

    @include vp-1199 {
      align-self: flex-start;
      margin: 0.9vw 0 0 0;
      width: 100%;
    }

    @include vp-767 {
      justify-self: start;
      margin: 4vw 0 12vw;
    }
  }

  .nav-list {
    @include vp-1199 {
      margin: 0 0 0 40px;
      gap: 4px 1.55%;
      line-height: 1;
      width: 100%;
      align-items: end;
      flex-direction: row;
    }

    @include vp-767 {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: calc(120/290*100%) calc(120/290*100%);
      row-gap: 15%;
      justify-content: space-between;
      grid-column-gap: 16%;
      grid-auto-flow: column;
      margin: 1vw 0 0;
      width: 100%;
    }

    &__item {
      @include vp-1199 {
        line-height: 1;
        font-size: 1.8vw;
        opacity: 0.5;
      }

      @include vp-767 {
        flex: 0 0 auto;
        justify-self: start;
        font-size: 4.6vw;
      }
    }
  }

  &__phone {
    font-size: 1.23vw;
    line-height: 1.5;
    font-weight: 600;
    margin: 0;
    align-self: center;

    a {
      &:hover,
      &:focus-visible,
      &:focus {
        color: #1c3374;
      }

      &:active {
        color: $color-navy-blue;
      }

      &:disabled {
        color: $color-navy-blue;
        opacity: 0.1;
      }
    }

    @include vp-1199 {
      display: none;
    }
  }

  .social,
  &__info {
    margin-top: 0.2vw;
    grid-column: 1/-1;
    grid-row: 2/3;
    justify-self: center;

    @include vp-1199 {
      margin-top: 2.8vw;
    }

    @include vp-767 {
      gap: 3px;
    }
  }

  &__info {
    margin-top: 0.8vw;
    grid-row: 3/4;
    font-size: 0.81vw;
    font-weight: 300;

    @include vp-1199 {
      font-size: 1.53vw;
      margin-top: 1.5vw;
      opacity: 0.5;
    }

    @include vp-767 {
      display: block;
      margin: 3.5vw 2vw;
      font-size: 3.6vw;
    }
  }
}
