.menu {
  display: flex;
  flex-wrap: wrap;
  max-width: 710px;
  margin: 1px 64px 0 0;
  padding: 0;
  list-style-type: none;
  gap: 5px 23px;

  @include vp-1919 {
    margin: 1px 0 0 0;
  }

  @include vp-1199 {
    margin: 0 1px 6px 0;
    gap: 5px 11px;
  }

  @include vp-767 {
    margin: 0;
    display: block;
    width: 100%;
    gap: 0 20px;
    column-count: 2;
  }
}

.menu__item {
  @include vp-767 {
    margin: 0 0 5px;
  }
}

.menu__link {
  position: relative;
  display: inline-block;
  padding: 5px;
  line-height: 16px;
  outline: none;

  &::before {
    content: "";
    position: absolute;
    transition: background-color $trans-default;
  }

  @include vp-1199 {
    font-size: 14px;
    line-height: 14px;
  }

  @include hover {
    &::before {
      bottom: 3px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $color-default-elephant;
    }
  }

  @include focus {
    &::before {
      top: 1px;
      left: 0;
      width: 100%;
      height: calc(100% - 4px);
      border: 1px solid $color-default-elephant;
      animation: opacity $trans-default;
    }
  }

  @include active {
    &::before {
      background-color: $color-transparent;
    }
  }

  @include disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
