.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
}


.nav-list__item {
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
  font-weight: 400;
}

.nav-list__link {
  appearance: none;
  outline: none;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  padding: 2px 6px;
  border-bottom: 1px solid;
  border-color: transparent;

  &:hover {
    outline: none;
    outline-offset: -1px;
    border-bottom: 1px solid;
    border-color: inherit;
  }

  &:focus,
  &:focus-visible {
    outline: none;
    text-decoration: none;
    outline-offset: -1px;
    border: 1px solid;
    border-color: inherit;
  }

  &:disabled {
    opacity: 0.5;
  }
}
