.page-nav {
  padding: 0;
  position: relative;
  align-self: center;
  margin-left: 8%;

  @include vp-1199 {
    background-color: transparent;
  }
}

.page-nav__list {
  display: block;

  @include vp-1199 {
    display: none;
  }
}

.page-nav--closed > .page-nav__list {
  @include vp-1199 {
    display: none;
  }
}

.page-nav--opened {
  width: 100%;
  top: 0;
  margin-top: 0;

  @include vp-1199 {
    width: 100%;
    box-sizing: border-box;
  }
}

.page-nav--nojs .page-nav__list,
.page-nav--opened .page-nav__list {
  @include vp-1199 {
    display: flex;
    flex-direction: row;
  }
}

.page-nav__toggle {
  display: none;

  @include vp-1199 {
    display: block;
    position: relative;
    z-index: 4;
    padding: 20px;
    top: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-nav--closed > .page-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: 4;
    top: 20px;
    left: 0;
    background-color: $color-default-white;
    width: 2.2vw;
    height: 0.23vw;
    cursor: pointer;

    @include vp-767 {
      height: 0.6vw;
      top: 50px;
      width: 6.4vw;
    }
  }

  &::after {
    top: 30px;
    width: 2.95vw;
    box-shadow: 0 -2.2vw 0 0 #ffffff;

    @include vp-767 {
      top: 32px;
      width: 7.4vw;
      box-shadow: 0 5.4vw 0 0 #ffffff;
    }
  }
}

.page-nav--opened .page-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 21px;
    left: -40%;
    width: 26px;
    height: 2px;
    background-color: $color-default-black;

    @include vp-767 {
      top: 10px;
      right: 44%;
    }
  }

  &::before {
    transform: translateX(50%) rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: translateX(50%) rotate(-45deg);
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-nav--nojs ~ .page-nav__toggle {
  display: none;
}

.page-nav--nojs {
  @include vp-1199 {
    position: relative;
    color: $color-default-black;
  }
}


.on-menu::before {
  content: "";
  position: absolute;
  z-index: 2;
  background-size: 100% 100%;
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
}
