.page-nav {
  padding: 0;
  position: relative;
  align-self: center;

  @include vp-1199 {
    background-color: transparent;
  }
}

.page-nav__list {
  display: block;

  @include vp-1199 {
    display: none;
  }
}

.page-nav--closed > .page-nav__list {
  display: none;
}

.page-nav--opened {
  width: 100%;
  top: 0;
  margin-top: 0;

  @include vp-1199 {
    position: relative;
    width: 100%;
    box-sizing: border-box;
  }
}

.page-nav--nojs .page-nav__list,
.page-nav--opened .page-nav__list {
  @include vp-1199 {
    display: grid;
  }
}

.page-nav__toggle {
  display: none;

  @include vp-1199 {
    display: block;
    position: absolute;
    z-index: 4;
    top: 0;
    left: 1.4vw;
    border: none;
    outline: none;
    padding: 20px 20px;
    box-sizing: border-box;
    background-color: transparent;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-nav--closed > .page-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: 4;
    top: 0;
    left: 1.4vw;
    background-color: $color-default-white;
    width: 18px;
    height: 2px;
    cursor: pointer;
  }

  &::after {
    top: 12px;
    width: 26px;
    box-shadow: 0 -22px 0 0 $color-default-white;
  }
}

.page-nav--opened .page-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 21px;
    right: 50%;
    width: 26px;
    height: 2px;
    background-color: $color-default-black;

    @include vp-767 {
      top: 10px;
      right: 44%;
    }
  }

  &::before {
    transform: translateX(50%) rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: translateX(50%) rotate(-45deg);
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-nav--nojs > .page-nav__toggle {
  display: none;
}

// .page-nav--nojs {
//  @include vp-1199 {
//    margin-top: 36px;
//  }
// }
