.training {
  .container {
    padding: 4.2% calc(120/1440*100%) calc(62/1440*100%);

    @include vp-1199 {
      padding: 4.8% 6% 5.6%;
    }

    @include vp-767 {
      padding: 14% 5% calc(62/320*100%);
    }
  }
}

.training__title {
  margin: 0 0 2.3vw;
}

.training__text,
.training__info {
  font-size: 1.11vw;
  line-height: 1.5;
  font-weight: 400;
  color: $color-elephant;
  margin: 0 0 3.3vw;
  letter-spacing: -0.2px;

  @include vp-1199 {
    font-size: 2.09vw;
  }

  @include vp-767 {
    font-size: 4.39vw;
  }
}

.training__text {
  width: 70%;
  letter-spacing: -0.15px;

  @include vp-1199 {
    width: 80%;
  }
}

.training__info {
  @include vp-1199 {
    font-size: 1.83vw;
    width: 70%;
  }

  @include vp-767 {
    font-size: 3.75vw;
  }
}

.training__names {
  font-size: 1.46vw;
  line-height: 1.5;
  margin: 0 0 2.5vw;

  @include vp-1199 {
    font-size: 2.35vw;
    margin: 0;
    align-self: center;
  }

  @include vp-767 {
    font-size: 4.4vw;
  }
}

.training__top {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0 0 0.3vw;
}

.training__person {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.46vw;
  line-height: 1;
  justify-content: space-between;
}

.training__name {
  flex: 0 0 50%;
  margin: 0;

  @include vp-1199 {
    font-size: 1.83vw;
  }

  @include vp-767 {
    font-size: 4.39vw;
  }
}

.training__link {
  align-self: center;
  border: 1px solid rgba(2, 102, 193, 0.1);
}

.training__coaches {
  width: 100%;
  margin-bottom: 3.2vw;

  @include vp-1199 {
    margin: 0 0 4.8vw;
  }
}

.training__slider {
  margin: 0;
  list-style: none;
  box-shadow: 0 0 30px 0 rgba(28, 51, 116, 0.1);
}

.training__list {
  padding: 0;
  margin: 0;
  list-style: none;
  // box-shadow: 0 0 30px 0 rgba(28, 51, 116, 0.1);
}

.training__coach {
  padding: 1.6%;
  min-height: 26vw;
  border: 1px solid $color-default-white;
  box-shadow: 0 0 30px 0 rgba(28, 51, 116, 0.1);

  @include vp-1199 {
    min-height: 54vw;
  }

  @include vp-767 {
    padding: 6.95%;
  }

  img {
    margin: 0 0 1.2vw;
    padding: 0;
    width: 100%;
    height: 14.7vw;
    object-position: 12%;
    object-fit: cover;
  }
}

.training__desc {
  font-size: .8vw;
  line-height: 1.4;
  margin: 1vw 0 0;
  letter-spacing: 0.2px;

  @include vp-1199 {
    font-size: 1.57vw;
  }

  @include vp-767 {
    font-size: 3.75vw;
    width: 82%;
  }
}

.training__steps,
.training__step {
  display: flex;
  flex-direction: row;
  flex: wrap;
}

.training__steps {
  margin: 0;
  padding: 0;
  gap: 1.4vw;

  @include vp-1199 {
    display: grid;
    gap: 20vw 10%;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    margin-top: 7.9vw;
    gap: 0;
  }
}

.training__step {
  flex: 0 0 24%;
  position: relative;

  @include vp-767 {
    padding-bottom: 7vw;
  }

  &:last-of-type {
    padding-bottom: 0;
  }

  svg {
    margin: 0.7vw 0.98vw 0 0;
    width: 2.8vw;
    justify-self: flex-start;
  }
}

.training__step::after,
.training__step::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 14px;
  left: -3px;
  height: 1px;
  background-color: rgba(2, 102, 193, 0.1);
}

.training__step::before {
  content: "";
  bottom: 7px;
  left: 0;
  width: 14px;
  height: 14px;
  background-color: #0266c1;
  border-radius: 50%;

  @include vp-767 {
    top: 8px;
    left: -33px;
    width: 13px;
    height: 13px;
  }
}

.training__step::after {
  @include vp-767 {
    top: 8px;
    right: 0;
    bottom: -13px;
    left: -27px;
    width: 1px;
    height: auto;
  }
}

.training__step:first-of-type::after {
  left: -50vw;

  @include vp-1199 {
    width: 47vw;
    left: 0;
  }

  @include vp-767 {
    width: 1px;
    left: -27px;
  }
}

.training__step:last-of-type::after {
  width: 50vw;

  @include vp-1199 {
    width: 47vw;
  }

  @include vp-767 {
    width: 1px;
  }
}

.training__step-peaks {
  @include vp-1199 {
    grid-column: 1/2;
    grid-row: 2;
  }
}

.training__step-forest {
  @include vp-1199 {
    grid-column: 2/-1;
  }
}

.training__step-peaks::before,
.training__step-forest::before,
.training__step-peaks::after,
.training__step-forest::after {
  @include vp-1199 {
    top: -34px;
  }

  @include vp-767 {
    display: block;
    top: 8px;
  }
}

.training__step-equipment::after {
  @include vp-1199 {
    display: none;
  }

  @include vp-767 {
    display: block;
  }
}

.training__step-forest::after {
  @include vp-1199 {
    position: absolute;
    right: auto;
    top: -15vw;
    left: 6px;
    width: 1px;
    height: 10vw;
  }

  @include vp-767 {
    top: 8px;
    left: -27px;
    height: auto;
  }
}

.training__step-peaks::before,
.training__step-forest::before {
  @include vp-1199 {
    top: -40px;
  }

  @include vp-767 {
    top: 8px;
  }
}

.training__step-peaks::after {
  @include vp-767 {
    display: none;
  }
}
