@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin hover {
  &:hover:not([disabled]) {
    @content;
  }
}

@mixin focus {
  &:focus-visible:not([disabled]) {
    @content;
  }
}

@mixin focus-within {
  &:focus-within:not([disabled]) {
    @content;
  }
}

@mixin active {
  &:active:not([disabled]) {
    @content;
  }
}

@mixin disabled {
  &[disabled] {
    @content;
  }
}

@mixin hover-focus {
  @include hover {
    @content;
  }

  @include focus {
    @content;
  }
}

@mixin focus-active {
  @include focus {
    @content;
  }

  @include active {
    @content;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

// Desktop first
@mixin vp-1919 {
  @media (min-width: ($vp-1920 - 1px)) {
    @content;
  }
}

@mixin vp-1199 {
  @media (max-width: ($vp-1200 - 1px)) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: ($vp-768 - 1px)) {
    @content;
  }
}

// ---------------------------------

// не нужно добавлять свои миксины для ресета списков, обнуления кнопок и прочие
// этим вы усложняете работу команды, проверку вашего кода и будущую поддержку проекта
